body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
}

.container{
    background-color: #D7BDE2;
    margin: 200p;
    display: grid;
    grid-template-columns: auto-fit;
}
.container-2{
    margin: 200p;
    display: grid;
    grid-template-columns: auto-fit;

}

.container-3{
    margin: 200p;
    display: grid;
    grid-template-columns: auto-fit;

}